
<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/default}"
>
    <div layout:fragment="contents" class="container my-4" style="padding-top: 60px">
       <h2>게시글 목록</h2>
       <table class="table table-striped">
           <thead>
               <tr>
                   <th>번호</th>
                   <th>제목</th>
                   <th>작성자</th>
                   <th>조회수</th>
                   <th>작성일</th>
               </tr>
           </thead>
           
           <tbody>
               <tr th:each="comm : ${list}" th:onclick="|location.href='/community/detail/${comm.id}'|" role="button">
                   <td>[[${comm.id}]]</td>
                   <td>[[${comm.title}]]</td>
                   <td>[[${comm.creator.name}]]</td>
                   <td>[[${comm.hit}]]</td>
                   <td>[[${#temporals.format(comm.createdAt, 'yyyy년 MM월 dd일')}]]</td>
               </tr>
           </tbody>
           
       </table>
       <a href="/community/add" class="btn btn-primary">글쓰기</a>
    </div>
</html>