<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/default}"
>
    <div layout:fragment="contents" class="container my-4" style="padding-top: 60px">
       <h2 class="mb-4">게시글 작성</h2>
       <form action="/community/add" method="POST" enctype="multipart/form-data">
           <div class="mb-3">
                <label for="title" class="form-label">제목</label>
                <input type="text" class="form-control" name="title" id="title" placeholder="제목을 입력하세요" required/>
           </div>
           
           <div class="mb-3">
                <label for="content" class="form-label">내용</label>
                <textarea rows="5" class="form-control" name="content" id="content" placeholder="내용을 입력하세요" required/></textarea>
           </div>
           
           <div class="mb-3">
                <label for="creatorId" class="form-label">작성자</label>
                <select class="form-control" name="creatorId" id="creatorId" required>
                    <option selected>작성자를 선택하세요</option>
                    <option value="3">인규</option>
                    <option value="4">인규컴</option>
                    <option value="5">진국</option>
                    <option value="6">진국똥</option>
                    <option value="7">태환</option>
                </select>
           </div>
           
           <div class="mb-3">
                <label for="files" class="form-label">이미지 첨부</label>
                <input type="file" class="form-control" name="files" id="files" accept="img/*" multiple/>
           </div>
           
           <button>작성</button>
           <button type="reset">취소</button>
       </form>
    </div>
</html>