<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/default}"
>
    <div layout:fragment="contents" class="container my-4" style="padding-top: 60px">
        <h2 class="mb-4">[[${user == null ? "회원 가입" : "회원 수정"}]]</h2>
        <form
          th:action="${user == null ? '/user/add' : '/user/modify' }"
          th:method="${user == null ? 'POST' : 'PATCH' }">
            <input type="hidden" th:if="${user != null}" name="id" th:value="${user.id}" />
            <div class="mb-3">
                <label for="name" class="form-label">이름</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="이름을 입력하세요" th:value="${user != null ? user.name : ''}" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">이메일</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="이메일을 입력하세요" th:value="${user != null ? user.email: ''}" required>
            </div>
            <button type="button" class="btn btn-primary" onclick="location.href='/user/list'">돌아가기</button>
            <button type="reset" class="btn btn-primary">초기화</button>
            <button type="submit" class="btn btn-primary">[[${user == null ? "가입" : "수정"}]]</button>
        </form>
    </div>
</html>