<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <footer th:fragment="footer" class="footer mt-auto py-3 bg-body-tertiary">
        <div class="container">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
              <li class="nav-item"><a href="/user/list" class="nav-link px-2 text-body-secondary">회원</a></li>
              <li class="nav-item"><a href="/community/list" class="nav-link px-2 text-body-secondary">커뮤니티</a></li>
            </ul>
        </div>
    </footer>
</html>