<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.mapper.BoardMapper">
	<select id="selectBoardList" resultType="com.board.dto.BoardDTO">
		select
			id, title, hit, created_at
		from
			board_tbl
		where
			is_deleted = "n"
		
	</select>
	<insert id="insertBoard" parameterType="com.board.dto.BoardDTO" useGeneratedKeys="true" keyProperty="id">
		insert into
			board_tbl
			(title, content, created_at, creator)
		values
			(#{title},#{content},now(),"가나")
	</insert>
	<select id="selectBoardById" resultType="com.board.dto.BoardDTO" parameterType="int">
		select
			id, title, content, hit, created_at
		from
			board_tbl
		where
			id=#{id}
			AND is_deleted='n'
	</select>
	<update id="updateBoard" parameterType="com.board.dto.BoardDTO">
		update
			board_tbl
		set
			title=#{title},
			content=#{content}
		where
			id=#{id}
	</update>
	<update id="updateHit" parameterType="int">
		update
			 board_tbl
		set
			hit=hit+1
		where
			id=#{id}
	</update>
	<delete id="deleteBoardById" parameterType="int">
		update
			board_tbl
		set
			is_deleted='y'
		where
			id=#{id}
	</delete>
	
</mapper>