<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게시물 상세 보기</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
	<div class="container mt-5">
		<h2 class="mb-4 text-center">게시물 상세보기</h2>
		<form action="update" method="post">
			<div class="mb-3">
				<label class="form-label"> <strong>글 번호 :</strong>
				</label>
				<p th:text="${board.id}"></p>
				<input type="hidden" name="id" th:value="${board.id}" />
			</div>
			<div class="mb-3">
				<label class="form-label"> <strong>글 조회수 :</strong>
				</label>
				<p th:text="${board.hit}"></p>
			</div>
			<div class="mb-3">
				<label class="form-label"> <strong>작성자 :</strong>
				</label>
				<p th:text="${board.creator}"></p>
			</div>
			<div class="mb-3">
				<label class="form-label"> <strong>작성일 :</strong>
				</label>
				<p th:text="${#temporals.format(board.createdAt, 'yyyy-MM-dd')}"></p>
			</div>
			<div class="mb-3">
				<label class="form-label"> <strong>제목 :</strong>
				</label> <input type="text" name="title" class="form-control"
					th:value="${board.title}" required />
			</div>
			<div class="mb-3">
				<label class="form-label"> <strong>내용 :</strong>
				</label>
				<div>
					<textarea name="content" class="form-control" rows="10"
						th:text="${board.content}"></textarea>
				</div>
			</div>
			<div class="mb-3">
				<a href="#" class="mx-2 btn btn-outline-dark" th:each="file : ${board.fileList}" 
				th:href="@{download(id=${file.id}, boardId=${file.boardId})}" th:text="|${file.originFileName} (${file.fileSize} KB)|" ></a>
			</div>
			<div class="text-center">
				<a href="list" class="btn btn-primary">목록으로 돌아가기</a>
				<button class="btn btn-primary">수정하기</button>
				<button type="button" class="btn btn-primary" 
						onclick="if(confirm('삭제합니까?')){
							document.getElementById('deleteForm').submit();}">
				삭제하기</button>
			</div>
		</form>
		<form id="deleteForm" action="delete" method="post" style="display : none">
			<input type="hidden" name="id" th:value="${board.id}"/>
		</form>
	</div>
</body>
</html>