<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}"
>
	<div layout:fragment="content" class="container my-4">
	  <h2 class="mb-4">회원 리스트</h2>
	   <table class="table table-striped">
	       <thead>
	           <tr>
	               <th>아이디</th>
	               <th>이름</th>
	               <th>이메일</th>
	               <th>가입일</th>
                   <th>삭제</th>
	           </tr>	           
	       </thead>
	       <tbody>
	           <tr th:each="user : ${list}">
	               <td th:text="${user.id}"></td>
	               <td th:text="${user.name}"></td>
	               <td th:text="${user.email}"></td>
	               <td th:text="${#temporals.format(user.createdAt, 'yyyy년 MM월 dd일')}"></td>
	               <td>
	                   <form action="@{/user/delete(id=${user.id})}" th:method="DELETE">                   
	                       <button class="btn btn-danger">삭제</button>
	                   </form>
	               </td>
	               
	           </tr>
	       </tbody>
	   </table>
	   <a href="/user/add" class="btn btn-success">가입하기</a>
	</div>
</html>