<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosta.mapper.UserMapper">
    <insert id="save" parameterType="com.kosta.dto.User">
        insert into users_tbl(name, email) values(#{name}, #{email})
    </insert>
    
    <update id="deleteById" parameterType="int">
        <!--  update users_tbl set is_deleted='y' where id=#{id} -->
         delete * from users_tbl where id=#{id}
    </update>
    
    <select id="findById" parameterType="int" resultType="com.kosta.dto.User">
        select * from users_tbl where id=#{id} and is_deleted='n'
    </select>
    
    <select id="findAll" resultType="com.kosta.dto.User">
        select * from users_tbl where is_deleted='n'
    </select>
    
    <update id="updateUser" parameterType="com.kosta.dto.User" >
        update users_tbl set name=#{name}, email=#{email} where id=#{id}
    </update>
    
    
</mapper>