<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">
<div layout:fragment="content" class="container my-4">
	<h2 class="mb-4">상품 추가</h2>
	<form action="/notebook/dr" method="POST">
		<div class="mb-3">
			<label for="id" class="form-label">구매자</label> <select id=" id"
				name="consumerId" class="form-control" required>
				<option value="" disabled selected>구매자 선택</option>
				<option th:each=" user: ${users}" th:value="${user.id}"
					th:text="${user.name}">유저이름</option>
			</select>
		</div>
		<div class="mb-3">
			<label for="name" class="form-label">상품명</label> <input type="text"
				class="form-control" id="name" name="name" placeholder="너의 이름은.."
				required>
		</div>
		<div class="mb-3">
			<label for="price" class="form-label">가격</label> <input type="number"
				class="form-control" id="price" name="price" placeholder="너의 가격은.."
				required>
		</div>
		<div class="mb-3">
            <label for="content" class="form-label">상세 설명</label> <input type="text"
                class="form-control" id="content" name="content" placeholder="너의 설명은.."
                required>
        </div>
		<button type="button" class="btn btn-primary"
			onclick="location.href='/notebook'">돌아가기</button>
		<button type="reset" class="btn btn-primary">초기화</button>
		<button type="submit" class="btn btn-primary">등록</button>
	</form>
</div>
</html>
